﻿<div class="well row" ng-controller="AuthController">
	<div class="col-md-12">
		<h1>Getting things done</h1>
		<p>
			Getting Things Done is a time-management method, described in a book of the same title by productivity consultant David Allen. It is often referred to as GTD.
		</p>
		<p>
			The GTD method rests on the idea of moving planned tasks and projects out of the mind by recording them externally and then breaking them into actionable work items. This allows one to focus attention on taking action on tasks, instead of on recalling them.
		</p>
	</div>

	<div class="col-md-4">
		<h3>Want to learn more</h3>
		<p>Check out the inventor of GTD David Allen's book 
			<a target="_blank" href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/ref=sr_1_2?s=books&ie=UTF8&qid=1431337914&sr=1-2&keywords=Getting+Things+Done%3A+The+Art+of+Stress-Free+Productivity">
				Getting Things Done: The Art of Stress-Free Productivity
			</a> on
		</p>
		<a target="_blank" href="http://www.amazon.com">
			<img src="../../content/images/amazon.png" alt="The Art of Stress-Free Productivity on Amazon">
		</a>
	</div>

	<div class="col-md-4">
		<h3>Contact</h3>
		For technical issues use the error report form below:
		<a class="btn btn-info" data-toggle="modal" data-target="#errorReportDialog" href="">
			<span class="glyphicon glyphicon-warning-sign"></span>
			Report problem
		</a>
		<p>
			For other issue or press contacts call us at: 073 - 12345678 <br />
			or send an email to: <a href="mailto:admin@gtdapp.com" target="_top">admin@gtdapp.com</a>.
		</p>
		
	</div>

	<div class="col-md-4" ng-hide="loggedIn()">
		<h3>New to the Getting things done app</h3>
		<p>Gain control over your time both privately and at work. Register for free and try it out.</p>
		<a class="btn btn-primary" data-toggle="modal" data-target="#authRegDialog" href="">
			<span class="glyphicon glyphicon-user"></span>
			Register user
		</a>
	</div>

	<div class="col-md-4" ng-show="loggedIn()">
		<h3>Navigation</h3>
		<div style="display:inline-block">
			<a href="#!/main" class="btn btn-info" role="button">
				
				Main page
			</a>
		</div>
		<div style="display:inline-block">
			<a href="#!/stateMgmt" class="btn btn-info" role="button">
				<span class="glyphicon glyphicon-list-alt"></span>
				Manage your tasks
			</a>
		</div>
	</div>
</div>

<!-- authentication dialogs -->
<div class="modal fade" id="authRegDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Register user</h3>
			</div>

			<form role="form" ng-submit="register()">
				<div class="modal-body">
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control" data-ng-model="registrationData.UserId" required />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control" data-ng-model="registrationData.Password" required />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Confirm password" class="form-control" data-ng-model="registrationData.ConfirmPassword" required />
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span>
						Register
					</button>
					<button type="button" class="btn btn-danger" data-ng-click="clearRegForm()" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span>
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- error report dialog -->
<div class="modal fade" id="errorReportDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Report technical issue</h3>
			</div>
			
			<div class="modal-body">
				<div class="form-group">
					<input id="name" type="text" placeholder="Your name" class="form-control" required />
				</div>

				<div class="form-group">
					<input id="phonenumber" type="text" placeholder="Phone number" class="form-control" required />
				</div>

				<div class="form-group">
					<input id="email" type="text" placeholder="Email address" class="form-control" required />
				</div>

				<div class="form-group">
					<textarea class="form-control" placeholder="Describe the problem" rows="5"></textarea>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-ok"></span>
					Send
				</button>
				<button type="button" class="btn btn-danger" data-ng-click="clearRegForm()" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>