﻿<div ng-controller="MainPageController">
	<div class="well row">
		<h1>Your tasks</h1>
		<table class="table table-striped table-bordered" ng-cloak>
			<thead>
				<tr>
					<th class="invsible">Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td class="invsible">{{ task.id }}</td>
					<td style="vertical-align: middle;">{{ task.name }}</td>
					<td style="vertical-align: middle;">{{ task.description }}</td>
					<td style="vertical-align: middle;">{{ task.state }}</td>
					<td>
						<a href="" class="btn btn-info" ng-click="showEditTask(task.id)">
							<span class="glyphicon glyphicon-edit"></span>
							Edit
						</a>
					</td>
					<td>
						<a href="" class="btn btn-info" ng-click="deleteTask(task.id)">
							<span class="glyphicon glyphicon-trash"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-info" role="button" data-toggle="modal" data-target="#taskRegDialog" href="">
			<span class="glyphicon glyphicon-plus"></span>
			Create task
		</a>

		<a class="btn btn-info" role="button" href="#!/stateMgmt">
			<span class="glyphicon glyphicon-list-alt"></span>
			Manage your tasks
		</a>
	</div>

	<!-- dialogs -->
	<div class="modal fade" id="taskRegDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Create new task</h3>
				</div>
				<form role="form" ng-submit="createTask()">
					<div class="modal-body">
						<div class="form-group">
							<input type="text" placeholder="Taskname" class="form-control" data-ng-model="newTaskName" required />
						</div>
						<div class="form-group">
							<input type="text" placeholder="Description" class="form-control" data-ng-model="newDescription" required />
						</div>
						<div class="form-group">
							<label for="startDatepicker">Start date</label>
							<div class='input-group date' id='startDatepicker'>
								<input type='text' class="form-control"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="endDatepicker">End date</label>
							<div class='input-group date' id='endDatepicker'>
								<input type='text' class="form-control"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
							Save
						</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>
							Cancel
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="taskEditDialog" tabindex="-2" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Edit task</h3>
				</div>
				<form role="form" ng-submit="editTask()">
					<div class="modal-body">
						<label >{{ taskDto.id }}</label>

						<div class="form-group">
							<label for="if">Id</label>
							<input id="id" type="text" placeholder="Id" class="form-control" data-ng-model="taskDto.Id" disabled="disabled" />
						</div>
						<div class="form-group">
							<label for="taskname">Name</label>
							<input id="taskname" type="text" placeholder="Taskname" class="form-control" data-ng-model="taskDto.TaskName" required />
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<input id="description" type="text" placeholder="Description" class="form-control" data-ng-model="taskDto.Description" required />
						</div>
						<div class="form-group">
							<label for="startDatepicker">Start date</label>
							<div class='input-group date' id='editedStartDatepicker'>
								<input type='text' class="form-control" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="endDatepicker">End date</label>
							<div class='input-group date' id='editedEndDatepicker'>
								<input type='text' class="form-control" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>						
							Save
						</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>
							Cancel
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
